# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/

# Environment Variables
.env

# =========================
# Node / React
# =========================
node_modules/
dist/
build/
*.log

# =========================
# Editor / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db